@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap');

:root {
    --font-heading: 'Skranji', cursive;
    --font-paragraph: 'Roboto', sans-serif;
    --text-color-dark: #84644b;
    /* rgb(132, 100, 75); */
    --background-color: #ffd8b7;
    /* rgb(255, 216, 183); -- matches main colour of background image */

    --background-color-light: #ffdfc3;
    /* rgb(255, 223, 195); */

    --highlight-navbar: #ffe3ca;
    /* rgb(255, 227, 202); */

    --highlight-color: #feeddc;
    /* rgb(254, 237, 220); */
    --highlight-color-opaque: rgba(254, 237, 220, 0.9);

    --highlight-color-opaque-lighter: rgba(255, 250, 245, 0.9);

    --border-color: #cfa581;
    /* rgb(207, 165, 129); */
    --border-color-opaque: rgba(207, 165, 129, 0.9);

    --leaf-color: #008769;
    /* rgb(0, 135, 105) */
    --leaf-color-opaque: rgba(0, 135, 105, 0.7);

    --blue-color: #0096e7;
    /* rgb(0, 150, 231) */
    --footprint-color: #f8c09b;
    /*  rgba(248, 192, 155, 0.9) */

    --shell-color: #f3decd;
    /* rgb(243, 222, 205) */

    --other-beige: #deb18c;
}

/* Global Styles */
html {
    scroll-padding-top: 160px;
    /* adjusted to match fixed header height */
    scroll-behavior: smooth;
    /* enables smooth scrolling for anchor links */
}

body {
    text-align: center;
    font-family: var(--font-paragraph);
    background-color: var(--border-color);
    font-size: 1.2rem;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* makes sure footer is always stuck to the bottom of the screen, even on pages without much content */
    gap: 10px;
    width: 100%;
    word-wrap: break-word;
}

main {
    position: relative;
    /* burger icon doesn't show without this */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 160px;
    /* this needs changing to media queries for the different navbar breakpoints to combine with header height */
}

section {
    background-image: url(../images/beach-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 0 20px;
    padding: 10px 0;
    width: 99%;
    /* min-height: 99vh; */
}

section div.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
}

.row {
    gap: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--leaf-color);
}

.no-border {
    border: none;
}

.lead {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-dark);
}

.internal-link {
    text-decoration: none;
    font-weight: 800;
    color: var(--text-color-dark);
}

/* Header and Footer Background */
.edge-background {
    background-image: url(../images/bamboo-background.jpg);
    width: 100%;
}

.layer {
    background-color: var(--leaf-color-opaque);
}

/* Navbar */
.head-nav {
    border-bottom: solid 4px var(--border-color);
    z-index: 2;
}

h1.head-title {
    color: var(--background-color);
    margin-bottom: 0;
    padding-top: 10px;
}

.page-title {
    padding-left: 27.8px;
    color: var(--background-color);
}

/* Navbar Links */
/* Small screen navbar links */
.navbar .burger-links a {
    color: var(--background-color);
    font-family: var(--font-heading);
    font-weight: 100;
}

/* Laptop or larger navbar buttons */
.navbar .btn.main-links {
    background-color: transparent;
    color: var(--background-color);
    font-family: var(--font-heading);
    font-weight: 100;
    text-transform: uppercase;
    border: solid 4px var(--background-color);
    font-size: 1.1rem;
}

.navbar .btn.main-links:hover {
    background-color: var(--leaf-color);
    color: var(--highlight-navbar);
    border: solid 4px var(--highlight-navbar);
}

.navbar .btn.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.navbar-hover:hover i {
    color: var(--highlight-navbar);
}

/* Navbar Arrows and Icon */
.navbar i {
    color: var(--background-color);
}

.navbar i:hover {
    color: var(--highlight-navbar);
}

/* Navbar Burger Icon */
.burger-icon {
    border: solid 4px var(--background-color);
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.75rem;
}

/* Navbar Dropdowns */
.dropdown-menu {
    background-color: var(--highlight-navbar);
    border: solid 5px var(--leaf-color);
    font-family: var(--font-heading);
    border-radius: 10px;
}

.dropdown-item {
    color: var(--leaf-color);
}

.dropdown-item:hover {
    background-color: var(--leaf-color);
    color: var(--highlight-navbar);
}

/* Hero Image */
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-bubble.floating-section {
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 50px;
    z-index: 1;
}

/* Main */
.title-bubble {
    margin-top: 0;
    padding: 0;
}

.title-bubble-text {
    padding: 15px;
}

.floating-section {
    display: flex;
    flex-direction: column;
    background-color: var(--highlight-color-opaque);
    border: solid 10px var(--border-color-opaque);
    border-radius: 30px;
    gap: 10px;
    padding: 24px;
}

img.floating-section {
    padding: 0;
    width: 100%;
    /* This is so that images are all the same size */
}

/* Buttons */
.button-primary {
    background-color: var(--leaf-color);
    color: var(--highlight-color);
    /* color: var(--background-color-light); --- Decide between this or above/between --- */
    font-family: var(--font-heading);
    text-transform: uppercase;
    border: solid 6px rgba(207, 165, 129, 0.9);
    border-radius: 15px;
    font-size: 1.5rem; /* This has to be this size for readability as doesn't pass Wave contrast test without */
}

.button-primary:hover {
    background-color: var(--highlight-color-opaque);
    color: var(--text-color-dark);
    font-family: var(--font-heading);
    border-color: var(--border-color-opaque);
}

/* Forms */
#form input, #form textarea, #form select {
    border: solid 7px rgba(207, 165, 129, 0.7);
    border-radius: 15px;
    padding: 10px;
    font-family: var(--font-paragraph);
    color: var(--text-color-dark);
    background-color: var(--highlight-color-opaque-lighter);
    font-size: 1.2rem;
    font-weight: 800;
    width: 100%;
    max-width: 100%;
}

#form input:focus, #form textarea:focus, #form select:focus {
    border-color: var(--text-color-dark);
    box-shadow: 0 0 10px rgba(132, 100, 75, 0.5);
}

.form {
    gap: 20px;
}

.form-label {
    font-family: var(--font-heading);
    color: var(--leaf-color);
}

/* Footer */
#footer {
    margin-top: auto;
    /* This is also bootstrap classes for some of the footers, remove 1 or the other in the end */
    color: var(--highlight-navbar);
    font-family: var(--font-heading);
}

#footer a {
    text-decoration: none;
    color: var(--background-color);
    margin: 30px 0;
    font-size: 1.2rem;
}

#footer i {
    font-size: 3rem;
}

#footer a:hover {
    color: var(--highlight-navbar);
}

/* Media Queries */
@media (max-width: 1600px) {
    .hero-bubble.floating-section {
        padding: 40px;
    }
}

@media (max-width: 1440px) {
    .extra-image {
        display: block;
    }
}

@media (max-width: 1200px) {
    .hero-bubble.floating-section {
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    .hero-bubble.floating-section {
        padding: 20px;
    }

    main {
        margin-top: 154px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
    }

    html {
        scroll-padding-top: 154px;
        /* adjusted to match fixed header height */
    }
}

@media (max-width: 992px) {
    main {
        margin-top: 126px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
        gap: 5px;
    }

    html {
        scroll-padding-top: 126px;
        /* adjusted to match fixed header height */
    }

    /* .extra-image {
        display: none;
    } */
}

@media (max-width: 918px) {
    main {
        margin-top: 118px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
        gap: 5px;
    }

    html {
        scroll-padding-top: 118px;
        /* adjusted to match fixed header height */
    }
}

@media (max-width: 768px) {
    .hero-bubble.floating-section {
        padding: 20px;
    }

    main {
        margin-top: 114px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
    }

    html {
        scroll-padding-top: 114px;
        /* adjusted to match fixed header height */
    }
}

@media (max-width: 650px) {
    main {
        margin-top: 112px;
    }

    html {
        scroll-padding-top: 112px;
        /* adjusted to match fixed header height */
    }
}

@media (max-width: 570px) {
    main {
        margin-top: 100px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
    }

    html {
        scroll-padding-top: 100px;
        /* adjusted to match fixed header height */
    }

    .hero-bubble.floating-section {
        padding: 10px;
    }
}

@media (max-width: 425px) {
    .hero-bubble.floating-section {
        padding: 8px;
        left: 1%;
    }

    .head-title {
        font-size: 1.8rem;
    }

    /* Make burger icon smaller at this screen size */
    .burger-icon {
        padding: 0 0.5rem 0.15rem 0.5rem;
        border: solid 3.5px var(--background-color);
        margin-bottom: 0.4rem;
    }

    .burger-icon i {
        font-size: 1rem;
    }

    button .navbar-toggler {
        padding: 0;
    }

    #footer i {
        font-size: 2rem;
    }

    main {
        margin-top: 83px;
        /* this needs changing as the navbar height changes at different screen sizes, and matching with below */
    }

    html {
        scroll-padding-top: 83px;
        /* adjusted to match fixed header height */
    }
}