@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap');

:root {
    --heading-font: 'Skranji', cursive;
    --paragraph-font: 'Roboto', sans-serif;
    --background-color: #FFD8B7; /* matching main colour of background image */
    --shell-color-light: #feeddc; /* from shells in background image */
    --shell-color: #f3decd; /* from darker spots on shells in background image */

    --sand-color: #FFD8B7; /* from darker spots on shells in background image */

    --darker-beige: #cfa581;
    --other-beige: #deb18c;
    --leaf-color: #008769;
    /* rgb(0, 135, 105) */
    --blue-color: #0096E7;
    /* rgb(0, 150, 231); */

    --bs-primary: 
}

.text-sand {
    color: var(--sand-color);
}

.border-sand {
    border-color: var(--sand-color);
}

/* Global Styles */
body {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
}

main {
    background-color: var(--background-color);
    background-image: url(../images/beach-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 100;
    color: var(--leaf-color);
}

h1 {
    font-weight: 400;
    color: var(--sand-color);
}

p {
    color: black;
}

main {
    position: relative;
}

/* Section Background Colours to choose from */
.section-background-one {
    background: rgba(207, 165, 129, 0.9);
}

.section-background-two {
    background: rgba(248, 192, 155, 0.9);
}

.section-background-three {
    background: rgba(243, 222, 205, 0.9);
}

.section-background-four {
    background: rgba(254, 237, 220, 0.9);
    border: solid 5px var(--blue-color);
}

.section-background-five {
    background: rgba(254, 237, 220, 0.9);
    border: solid 10px rgba(207, 165, 129, 0.7);
    border-radius: 30px;
    /* #CFA581 */
}

/* Navbar */
.head-title {
    margin-bottom: 0;
    padding-top: 15px;
}

.edge-background {
    background-image: url(../images/bamboo-background.jpg);
    width: 100%;
}

.layer {
    background-color: rgba(0, 135, 105, 0.7);
}

.page-title {
    padding-left: 27.8px;
    color: var(--sand-color);
}

/* Navbar Links */
/* .navbar .nav-link.text-sand,  */
.navbar .btn.text-sand {
    color: var(--sand-color);
    font-family: var(--heading-font);
    font-weight: 100;
    text-transform: uppercase;
}

/* .navbar .nav-link.text-sand.active {
    border-bottom: 4px solid var(--sand-color);
    padding-bottom: 3px;
    margin-bottom: 1px;
} */

.navbar .btn.text-sand.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.dropdown-menu {
    /* background-color: var(--leaf-color); */
    background-color: rgb(254, 237, 220);
    border: solid 5px var(--leaf-color);
    font-family: var(--heading-font);
    border-radius: 10px;
}

.dropdown-item {
    color: var(--leaf-color);
}

.dropdown-item:hover {
    background-color: var(--leaf-color);
    color: var(--sand-color);
}

/* Hero Image */
.hero {
    width: 100%;
    position: relative; 
}

.hero-bubble {
    position: absolute;
    top: 400px;
    left: 50px;
    z-index: 1;
}

/* Main */
.book-button.btn {
    background-color: var(--leaf-color);
    color: var(--sand-color);
}

/* Media Queries */
@media (min-width: 992px) {
    .page-title {
        display: none;
    } /* when navbar links are visible make page title hidden */
}